openapi: 3.0.0
info:
  title: Tessie API
  version: 1.0.0
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0.html'
  description: The Tesla management platform.
  contact:
    name: Tessie
    url: 'https://tessie.com'
    email: support@tessie.com
  x-logo:
    url: ''
  termsOfService: 'https://tessie.com/terms'
servers:
  - url: 'https://api.tessie.com'
paths:
  '/{vin}/state':
    get:
      tags:
        - Vehicle Data
      parameters:
        - $ref: '#/components/parameters/vin'
        - name: use_cache
          description: Set to false to retrieve vehicle state in real-time. Legacy Model S and Model X only.
          schema:
            default: true
            type: boolean
          in: query
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentState'
              examples:
                Example 1:
                  value:
                    id: 1492931520123456
                    vin: 5YJXCAE43LF123456
                    id_s: '1492931520123456'
                    color: string
                    state: online
                    user_id: 1311857
                    in_service: true
                    vehicle_id: 1349238573
                    access_type: OWNER
                    api_version: 34
                    drive_state:
                      power: 0
                      speed: string
                      heading: 194
                      latitude: 40.7484
                      gps_as_of: 1643590638
                      longitude: 73.9857
                      timestamp: 1643590652755
                      native_type: wgs
                      shift_state: P
                      native_latitude: 40.7484
                      native_longitude: 73.9857
                      native_location_supported: 1
                      active_route_destination: Empire State Building
                      active_route_energy_at_arrival: 81
                      active_route_latitude: -1.123456
                      active_route_longitude: 1.123456
                      active_route_miles_to_arrival: 4.12
                      active_route_minutes_to_arrival: 5.43
                      active_route_traffic_minutes_delay: 0
                    charge_state:
                      timestamp: 1643590652755
                      charge_amps: 12
                      charge_rate: 0
                      battery_level: 89
                      battery_range: 269.01
                      charger_power: 0
                      trip_charging: true
                      charger_phases: string
                      charging_state: Complete
                      charger_voltage: 0
                      charge_limit_soc: 90
                      battery_heater_on: true
                      charge_port_color: 'Off'
                      charge_port_latch: Engaged
                      conn_charge_cable: SAE
                      est_battery_range: 223.25
                      fast_charger_type: MCSingleWireCAN
                      fast_charger_brand: <invalid>
                      charge_energy_added: 4.64
                      charge_to_max_range: true
                      ideal_battery_range: 999
                      time_to_full_charge: 0
                      charge_limit_soc_max: 100
                      charge_limit_soc_min: 50
                      charge_limit_soc_std: 90
                      fast_charger_present: true
                      usable_battery_level: 89
                      charge_enable_request: true
                      charge_port_door_open: true
                      charger_pilot_current: 12
                      preconditioning_times: weekdays
                      charge_current_request: 12
                      charger_actual_current: 0
                      minutes_to_full_charge: 0
                      managed_charging_active: true
                      off_peak_charging_times: all_week
                      off_peak_hours_end_time: 375
                      preconditioning_enabled: true
                      scheduled_charging_mode: 'Off'
                      charge_miles_added_ideal: 4641
                      charge_miles_added_rated: 14.5
                      max_range_charge_counter: 0
                      not_enough_power_to_heat: true
                      scheduled_departure_time: 1643578200
                      off_peak_charging_enabled: true
                      charge_current_request_max: 12
                      scheduled_charging_pending: true
                      user_charge_enable_request: string
                      managed_charging_start_time: string
                      charge_port_cold_weather_mode: string
                      scheduled_charging_start_time: string
                      managed_charging_user_canceled: true
                      scheduled_departure_time_minutes: 810
                      scheduled_charging_start_time_app: 817
                      supercharger_session_trip_planner: true
                      pack_current: -0.7
                      pack_voltage: 419.79
                      module_temp_min: 25.5
                      module_temp_max: 26
                      energy_remaining: 51.26
                      lifetime_energy_used: 5224.713
                      phantom_drain: 1.23
                    display_name: Seneca
                    gui_settings:
                      timestamp: 1643590652755
                      gui_24_hour_time: true
                      show_range_units: true
                      gui_range_display: Rated
                      gui_distance_units: mi/hr
                      gui_charge_rate_units: kW
                      gui_temperature_units: F
                    option_codes: AD15MDL3PBSBRENABT37ID3WRF3GS3PBDRLHDV2WW39BAPF0COUSBC3BCH07PC30FC3PFG31GLFRHL31HM31IL31LTPBMR31FM3BRS3HSA3PSTCPSC04SU3CT3CATW00TM00UT3PWR00AU3PAPH3AF00ZCSTMI00CDM0
                    climate_state:
                      timestamp: 1643590652755
                      fan_status: 0
                      inside_temp: 24.3
                      defrost_mode: 0
                      outside_temp: 17.5
                      is_climate_on: true
                      battery_heater: true
                      bioweapon_mode: true
                      max_avail_temp: 28
                      min_avail_temp: 15
                      seat_heater_left: 0
                      hvac_auto_request: 'On'
                      seat_heater_right: 0
                      is_preconditioning: true
                      wiper_blade_heater: true
                      climate_keeper_mode: 'off'
                      driver_temp_setting: 22.8
                      left_temp_direction: 0
                      side_mirror_heaters: true
                      is_rear_defroster_on: true
                      right_temp_direction: 0
                      is_front_defroster_on: true
                      seat_heater_rear_left: 0
                      steering_wheel_heater: true
                      passenger_temp_setting: 22.8
                      seat_heater_rear_right: 0
                      battery_heater_no_power: true
                      is_auto_conditioning_on: true
                      seat_heater_rear_center: 0
                      cabin_overheat_protection: 'On'
                      seat_heater_third_row_left: 0
                      seat_heater_third_row_right: 0
                      remote_heater_control_enabled: true
                      allow_cabin_overheat_protection: true
                      supports_fan_only_cabin_overheat_protection: true
                    vehicle_state:
                      df: 0
                      dr: 0
                      ft: 0
                      pf: 0
                      pr: 0
                      rt: 0
                      locked: true
                      odometer: 14096.485641
                      fd_window: 0
                      fp_window: 0
                      rd_window: 0
                      rp_window: 0
                      timestamp: 1643590652755
                      connection_status: wifi
                      santa_mode: 0
                      valet_mode: true
                      api_version: 34
                      car_version: 2022.4 fae2af490933
                      media_state:
                        remote_control_enabled: true
                      sentry_mode: true
                      remote_start: true
                      vehicle_name: Seneca
                      dashcam_state: Unavailable
                      autopark_style: standard
                      homelink_nearby: true
                      is_user_present: true
                      software_update:
                        status: available
                        version: '2022.4'
                        install_perc: 1
                        download_perc: 0
                        expected_duration_sec: 2700
                      speed_limit_mode:
                        active: true
                        pin_code_set: true
                        max_limit_mph: 90
                        min_limit_mph: 50
                        current_limit_mph: 84
                      tpms_pressure_fl: string
                      tpms_pressure_fr: string
                      tpms_pressure_rl: string
                      tpms_pressure_rr: string
                      autopark_state_v2: standby
                      calendar_supported: true
                      last_autopark_error: no_error
                      center_display_state: 0
                      remote_start_enabled: true
                      homelink_device_count: 0
                      sentry_mode_available: true
                      remote_start_supported: true
                      smart_summon_available: true
                      notifications_supported: true
                      parsed_calendar_supported: true
                      dashcam_clip_save_available: true
                      summon_standby_mode_enabled: true
                    backseat_token: string
                    vehicle_config:
                      plg: true
                      pws: true
                      rhd: true
                      car_type: modelx
                      seat_type: 0
                      timestamp: 1643590652755
                      eu_vehicle: true
                      roof_color: None
                      utc_offset: -28800
                      wheel_type: Turbine22Dark
                      spoiler_type: Passive
                      trim_badging: p100d
                      driver_assist: TeslaAP3
                      headlamp_type: Led
                      exterior_color: Pearl
                      rear_seat_type: 7
                      rear_drive_unit: Large
                      third_row_seats: FuturisFoldFlat
                      car_special_type: base
                      charge_port_type: US
                      ece_restrictions: true
                      front_drive_unit: PermanentMagnet
                      has_seat_cooling: true
                      rear_seat_heaters: 3
                      use_range_badging: true
                      can_actuate_trunks: true
                      efficiency_package: Default
                      has_air_suspension: true
                      has_ludicrous_mode: true
                      interior_trim_type: AllBlack
                      sun_roof_installed: 0
                      default_charge_to_max: true
                      motorized_charge_port: true
                      dashcam_clip_save_supported: true
                      can_accept_navigation_requests: true
                    calendar_enabled: true
                    backseat_token_updated_at: string
          description: Success
      operationId: get-state
      summary: Get Vehicle
      description: Returns the latest state of a vehicle.
    parameters:
      - $ref: '#/components/parameters/vin'
  /vehicles:
    get:
      parameters:
        - $ref: '#/components/parameters/only_active'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        vin:
                          type: string
                        is_active:
                          type: boolean
                        last_state:
                          $ref: '#/components/schemas/CurrentState'
              examples:
                Example 1:
                  value:
                    results:
                      - vin: 5YJXCAE43LF123456
                        is_active: true
                        last_state:
                          id: 1492931520123456
                          vin: 5YJXCAE43LF123456
                          id_s: '1492931520123456'
                          color: string
                          state: online
                          user_id: 1311857
                          in_service: true
                          vehicle_id: 1349238573
                          access_type: OWNER
                          api_version: 34
                          drive_state:
                            power: 0
                            speed: string
                            heading: 194
                            latitude: 40.7484
                            gps_as_of: 1643590638
                            longitude: 73.9857
                            timestamp: 1643590652755
                            native_type: wgs
                            shift_state: P
                            native_latitude: 40.7484
                            native_longitude: 73.9857
                            native_location_supported: 1
                          charge_state:
                            timestamp: 1643590652755
                            charge_amps: 12
                            charge_rate: 0
                            battery_level: 89
                            battery_range: 269.01
                            charger_power: 0
                            trip_charging: true
                            charger_phases: string
                            charging_state: Complete
                            charger_voltage: 0
                            charge_limit_soc: 90
                            battery_heater_on: true
                            charge_port_color: 'Off'
                            charge_port_latch: Engaged
                            conn_charge_cable: SAE
                            est_battery_range: 223.25
                            fast_charger_type: MCSingleWireCAN
                            fast_charger_brand: <invalid>
                            charge_energy_added: 4.64
                            charge_to_max_range: true
                            ideal_battery_range: 999
                            time_to_full_charge: 0
                            charge_limit_soc_max: 100
                            charge_limit_soc_min: 50
                            charge_limit_soc_std: 90
                            fast_charger_present: true
                            usable_battery_level: 89
                            charge_enable_request: true
                            charge_port_door_open: true
                            charger_pilot_current: 12
                            preconditioning_times: weekdays
                            charge_current_request: 12
                            charger_actual_current: 0
                            minutes_to_full_charge: 0
                            managed_charging_active: true
                            off_peak_charging_times: all_week
                            off_peak_hours_end_time: 375
                            preconditioning_enabled: true
                            scheduled_charging_mode: 'Off'
                            charge_miles_added_ideal: 4641
                            charge_miles_added_rated: 14.5
                            max_range_charge_counter: 0
                            not_enough_power_to_heat: true
                            scheduled_departure_time: 1643578200
                            off_peak_charging_enabled: true
                            charge_current_request_max: 12
                            scheduled_charging_pending: true
                            user_charge_enable_request: string
                            managed_charging_start_time: string
                            charge_port_cold_weather_mode: string
                            scheduled_charging_start_time: string
                            managed_charging_user_canceled: true
                            scheduled_departure_time_minutes: 810
                            scheduled_charging_start_time_app: 817
                            supercharger_session_trip_planner: true
                          display_name: Seneca
                          gui_settings:
                            timestamp: 1643590652755
                            gui_24_hour_time: true
                            show_range_units: true
                            gui_range_display: Rated
                            gui_distance_units: mi/hr
                            gui_charge_rate_units: kW
                            gui_temperature_units: F
                          option_codes: AD15MDL3PBSBRENABT37ID3WRF3GS3PBDRLHDV2WW39BAPF0COUSBC3BCH07PC30FC3PFG31GLFRHL31HM31IL31LTPBMR31FM3BRS3HSA3PSTCPSC04SU3CT3CATW00TM00UT3PWR00AU3PAPH3AF00ZCSTMI00CDM0
                          climate_state:
                            timestamp: 1643590652755
                            fan_status: 0
                            inside_temp: 24.3
                            defrost_mode: 0
                            outside_temp: 17.5
                            is_climate_on: true
                            battery_heater: true
                            bioweapon_mode: true
                            max_avail_temp: 28
                            min_avail_temp: 15
                            seat_heater_left: 0
                            hvac_auto_request: 'On'
                            seat_heater_right: 0
                            is_preconditioning: true
                            wiper_blade_heater: true
                            climate_keeper_mode: 'off'
                            driver_temp_setting: 22.8
                            left_temp_direction: 0
                            side_mirror_heaters: true
                            is_rear_defroster_on: true
                            right_temp_direction: 0
                            is_front_defroster_on: true
                            seat_heater_rear_left: 0
                            steering_wheel_heater: true
                            passenger_temp_setting: 22.8
                            seat_heater_rear_right: 0
                            battery_heater_no_power: true
                            is_auto_conditioning_on: true
                            seat_heater_rear_center: 0
                            cabin_overheat_protection: 'On'
                            seat_heater_third_row_left: 0
                            seat_heater_third_row_right: 0
                            remote_heater_control_enabled: true
                            allow_cabin_overheat_protection: true
                            supports_fan_only_cabin_overheat_protection: true
                          vehicle_state:
                            df: 0
                            dr: 0
                            ft: 0
                            pf: 0
                            pr: 0
                            rt: 0
                            locked: true
                            odometer: 14096.485641
                            fd_window: 0
                            fp_window: 0
                            rd_window: 0
                            rp_window: 0
                            timestamp: 1643590652755
                            connection_status: wifi
                            santa_mode: 0
                            valet_mode: true
                            api_version: 34
                            car_version: 2022.4 fae2af490933
                            media_state:
                              remote_control_enabled: true
                            sentry_mode: true
                            remote_start: true
                            vehicle_name: Seneca
                            dashcam_state: Unavailable
                            autopark_style: standard
                            homelink_nearby: true
                            is_user_present: true
                            software_update:
                              status: available
                              version: '2022.4'
                              install_perc: 1
                              download_perc: 0
                              expected_duration_sec: 2700
                            speed_limit_mode:
                              active: true
                              pin_code_set: true
                              max_limit_mph: 90
                              min_limit_mph: 50
                              current_limit_mph: 84
                            tpms_pressure_fl: string
                            tpms_pressure_fr: string
                            tpms_pressure_rl: string
                            tpms_pressure_rr: string
                            autopark_state_v2: standby
                            calendar_supported: true
                            last_autopark_error: no_error
                            center_display_state: 0
                            remote_start_enabled: true
                            homelink_device_count: 0
                            sentry_mode_available: true
                            remote_start_supported: true
                            smart_summon_available: true
                            notifications_supported: true
                            parsed_calendar_supported: true
                            dashcam_clip_save_available: true
                            summon_standby_mode_enabled: true
                          backseat_token: string
                          vehicle_config:
                            plg: true
                            pws: true
                            rhd: true
                            car_type: modelx
                            seat_type: 0
                            timestamp: 1643590652755
                            eu_vehicle: true
                            roof_color: None
                            utc_offset: -28800
                            wheel_type: Turbine22Dark
                            spoiler_type: Passive
                            trim_badging: p100d
                            driver_assist: TeslaAP3
                            headlamp_type: Led
                            exterior_color: Pearl
                            rear_seat_type: 7
                            rear_drive_unit: Large
                            third_row_seats: FuturisFoldFlat
                            car_special_type: base
                            charge_port_type: US
                            ece_restrictions: true
                            front_drive_unit: PermanentMagnet
                            has_seat_cooling: true
                            rear_seat_heaters: 3
                            use_range_badging: true
                            can_actuate_trunks: true
                            efficiency_package: Default
                            has_air_suspension: true
                            has_ludicrous_mode: true
                            interior_trim_type: AllBlack
                            sun_roof_installed: 0
                            default_charge_to_max: true
                            motorized_charge_port: true
                            dashcam_clip_save_supported: true
                            can_accept_navigation_requests: true
                          calendar_enabled: true
                          backseat_token_updated_at: string
          description: Success
      operationId: get-vehicles
      summary: Get Vehicles
      description: Returns the latest state of all vehicles.
      tags:
        - Vehicle Data
  '/{vin}/states':
    get:
      parameters:
        - $ref: '#/components/parameters/vin'
        - $ref: '#/components/parameters/from'
        - $ref: '#/components/parameters/to'
        - schema:
            type: number
            example: 1
          in: query
          name: interval
          description: The desired number of seconds between data points. Set to 1 to return all data points.
          allowEmptyValue: true
        - schema:
            type: boolean
            default: true
          in: query
          name: condense
          description: Whether to condense data output.
        - $ref: '#/components/parameters/timezone'
        - $ref: '#/components/parameters/distance_format'
        - $ref: '#/components/parameters/temperature_format'
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                oneOf:
                  - properties:
                      results:
                        type: array
                        items:
                          $ref: '#/components/schemas/HistoryState'
                  - properties:
                      results:
                        $ref: '#/components/schemas/CondensedHistoryStates'
                type: object
              examples:
                Example 1:
                  value:
                    results:
                      - id: 1644010150
                        timestamp: 1644010150
                        state: online
                        charging_state: Charging
                        shift_state: P
                        battery_level: 88
                        usable_battery_level: 88
                        battery_range: 266.69
                        ideal_battery_range: 999
                        latitude: 40.7484
                        longitude: 73.9857
                        elevation: null
                        speed: null
                        power: null
                        odometer: 14096.5
                        charge_rate: 2
                        charger_actual_current: 12
                        charger_power: 1
                        charger_phases: 1
                        charger_voltage: 118
                        charge_energy_added: 4.64
                        charge_miles_added_rated: 1.5
                        charge_miles_added_ideal: 422
                        is_climate_on: 0
                        battery_heater_on: 0
                        inside_temp: 37.7
                        outside_temp: 20.5
                        locked: 1
                        sentry_mode: 0
                        lifetime_energy_used: 5224.71
                        energy_remaining: 51.26
                        pack_current: -0.7
                        pack_voltage: 419.79
                        module_temp_min: 25.5
                        module_temp_max: 26
                Example (Condensed):
                  value:
                    results:
                      ids:
                        - 1644010150
                        - 1644010160
                        - 1644010170
                      timestamps:
                        - 1644010150
                        - 1644010160
                        - 1644010170
                      states:
                        - online
                        - online
                        - online
                      charging_states:
                        - Charging
                        - Charging
                        - Charging
                      shift_states:
                        - P
                        - P
                        - P
                      battery_levels:
                        - 88
                        - 88
                        - 88
                      usable_battery_levels:
                        - 88
                        - 88
                        - 88
                      battery_ranges:
                        - 266.69
                        - 266.69
                        - 266.69
                      ideal_battery_ranges:
                        - 999
                        - 999
                        - 999
                      latitudes:
                        - 40.7484
                        - 40.7484
                        - 40.7484
                      longitudes:
                        - 73.9857
                        - 73.9857
                        - 73.9857
                      elevations:
                        - null
                        - null
                        - null
                      speeds:
                        - null
                        - null
                        - null
                      powers:
                        - null
                        - null
                        - null
                      odometers:
                        - 14096.5
                        - 14096.5
                        - 14096.5
                      charge_rates:
                        - 2
                        - 1
                        - 1
                      charger_actual_currents:
                        - 12
                        - 12
                        - 12
                      charger_powers:
                        - 1
                        - 1
                        - 1
                      charger_phasess:
                        - 1
                        - 1
                        - 1
                      charger_voltages:
                        - 118
                        - 119
                        - 118
                      charge_energy_addeds:
                        - 4.64
                        - 4.66
                        - 4.68
                      charge_miles_added_rateds:
                        - 1.5
                        - 1.5
                        - 1.5
                      charge_miles_added_ideals:
                        - 422
                        - 422
                        - 422
                      is_climate_ons:
                        - 0
                        - 0
                        - 0
                      battery_heater_ons:
                        - 0
                        - 0
                        - 0
                      inside_temps:
                        - 37.7
                        - 37.8
                        - 37.7
                      outside_temps:
                        - 20.5
                        - 20.5
                        - 20.5
                      lockeds:
                        - 1
                        - 1
                        - 1
                      sentry_modes:
                        - 0
                        - 0
                        - 0
                      lifetime_energy_used:
                        - 5224.71
                        - 5224.72
                        - 5224.73
                      energy_remaining:
                        - 51.26
                        - 51.28
                        - 51.3
                      pack_current:
                        - -0.7
                        - -0.6
                        - -0.7
                      pack_voltage:
                        - 419.79
                        - 419.81
                        - 419.8
                      module_temp_min:
                        - 25.5
                        - 25.5
                        - 25.5
                      module_temp_max:
                        - 26
                        - 26
                        - 26
          description: Success
      operationId: get-historical-states
      summary: Get Historical States
      description: |-
        Returns historical states for a vehicle during a timeframe.

        If no interval is specified, a sensible interval based on the timeframe is used.
      tags:
        - Vehicle Data
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/battery':
    get:
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    timestamp: 1710785350
                    battery_level: 89
                    battery_range: 273.47
                    ideal_battery_range: 273.47
                    phantom_drain_percent: 1
                    energy_remaining: 85.5
                    lifetime_energy_used: 3266.888
                    pack_current: -0.6
                    pack_voltage: 451.61
                    module_temp_min: 20.5
                    module_temp_max: 21
                properties:
                  timestamp:
                    type: integer
                  battery_level:
                    type: number
                  battery_range:
                    type: number
                  ideal_battery_range:
                    type: number
                  phantom_drain_percent:
                    type: number
                  energy_remaining:
                    type: number
                  lifetime_energy_used:
                    type: number
                  pack_current:
                    type: number
                  pack_voltage:
                    type: number
                  module_temp_min:
                    type: number
                  module_temp_max:
                    type: integer
              examples:
                Example 1:
                  value:
                    timestamp: 1710785350
                    battery_level: 89.828
                    battery_range: 273.47
                    ideal_battery_range: 273.47
                    phantom_drain_percent: 1
                    energy_remaining: 85.5
                    lifetime_energy_used: 3266.888
                    pack_current: -0.6
                    pack_voltage: 451.61
                    module_temp_min: 20.5
                    module_temp_max: 21
          description: Success
      operationId: get-battery
      summary: Get Battery
      description: Returns the state of a vehicle's battery.
      tags:
        - Vehicle Data
      x-stoplight:
        id: o04al3in0jr0f
    parameters:
      - $ref: '#/components/parameters/vin'
  /battery_health:
    parameters: []
    get:
      tags:
        - Vehicle Data
      parameters:
        - $ref: '#/components/parameters/from'
        - $ref: '#/components/parameters/to'
        - $ref: '#/components/parameters/distance_format'
        - $ref: '#/components/parameters/only_active'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    results:
                      - vin: 5YJXCAE43LF219631
                        plate: null
                        odometer: 16380.9
                        max_range: 303.48
                        max_ideal_range: 1196
                        capacity: 96.7
                        original_capacity: 97.15
                        degradation_percent: 0.5
                        health_percent: 99.5
                      - vin: LRWXXXXXXXXXXXXXX
                        plate: null
                        odometer: 6008.62
                        max_range: 353.31
                        max_ideal_range: 353.31
                        capacity: 77.56
                        original_capacity: null
                        degradation_percent: null
                        health_percent: null
                      - vin: 5YJSA7E27FF106027
                        plate: null
                        odometer: 52794.7
                        max_range: 319.13
                        max_ideal_range: 255.31
                        capacity: 75.99
                        original_capacity: null
                        degradation_percent: null
                        health_percent: null
                      - vin: 7SAXCBE6XPF383426
                        plate: null
                        odometer: 2656.61
                        max_range: 309.61
                        max_ideal_range: 309.61
                        capacity: 95.67
                        original_capacity: 96.15
                        degradation_percent: 0.5
                        health_percent: 99.5
                      - vin: 5YJ3E1EA2JF014099
                        plate: null
                        odometer: 20125.4
                        max_range: 309.1
                        max_ideal_range: 309.1
                        capacity: 77.31
                        original_capacity: null
                        degradation_percent: null
                        health_percent: null
                      - vin: XP7YGCEK6PB065973
                        plate: null
                        odometer: 9735.12
                        max_range: 324.33
                        max_ideal_range: 324.33
                        capacity: 77.65
                        original_capacity: null
                        degradation_percent: null
                        health_percent: null
                      - vin: 5YJXCDE29HF059245
                        plate: null
                        odometer: 20498.7
                        max_range: 281.37
                        max_ideal_range: 352.5
                        capacity: 93.38
                        original_capacity: 97.27
                        degradation_percent: 4
                        health_percent: 96
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        vin:
                          type: string
                        plate:
                          type: string
                          nullable: true
                        odometer:
                          type: number
                        max_range:
                          type: number
                        max_ideal_range:
                          type: number
                        capacity:
                          type: number
                        original_capacity:
                          type: number
                        degradation_percent:
                          type: number
                        health_percent:
                          type: number
              examples:
                Example 1:
                  value:
                    results:
                      - vin: 5YJXCAE43LF123456
                        plate: VT782CE
                        odometer: 16380.9
                        max_range: 303.48
                        max_ideal_range: 1196
                        capacity: 96.7
                        original_capacity: 97.15
                        degradation_percent: 0.5
                        health_percent: 99.5
          description: Success
      operationId: get-battery-health
      summary: Get Battery Health
      description: Returns the battery health of all vehicles.
      x-stoplight:
        id: ffg26zcuecpoe
  '/{vin}/battery_health':
    get:
      parameters:
        - $ref: '#/components/parameters/from'
        - $ref: '#/components/parameters/to'
        - $ref: '#/components/parameters/distance_format'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      max_range:
                        type: number
                      max_ideal_range:
                        type: number
                      capacity:
                        type: number
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        timestamp:
                          type: number
                        odometer:
                          type: number
                        max_range:
                          type: number
                        max_ideal_range:
                          type: number
                        capacity:
                          type: number
              examples:
                Example 1:
                  value:
                    result:
                      max_range: 303.35
                      max_ideal_range: 255.12
                      capacity: 96.79
                Example With Timeframe:
                  value:
                    results:
                      - timestamp: 1612075363
                        odometer: 12123
                        max_range: 303.35
                        max_ideal_range: 255.12
                        capacity: 97.1
                      - timestamp: 1643611438
                        odometer: 25784
                        max_range: 303.35
                        max_ideal_range: 255.12
                        capacity: 96.79
          description: Success
      operationId: get-battery-health-measurements
      summary: Get Battery Health Measurements
      description: Returns the battery health measurements for a vehicle over time.
      tags:
        - Vehicle Data
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/location':
    get:
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  latitude:
                    type: number
                  longitude:
                    type: number
                  address:
                    type: string
                  saved_location:
                    type: string
              examples:
                Example 1:
                  value:
                    latitude: 37.4929681
                    longitude: -121.9453489
                    address: '45500 Fremont Blvd, Fremont, California 94538, United States'
                    saved_location: Work
          description: Success
      operationId: get-location
      summary: Get Location
      description: 'Returns the coordinates, street address and associated saved location of a vehicle.'
      tags:
        - Vehicle Data
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/firmware_alerts':
    get:
      parameters:
        - $ref: '#/components/parameters/from'
        - $ref: '#/components/parameters/to'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  Example 1:
                    results:
                      - timestamp: 1726683716
                        name: VCFRONT_a361_washerFluidLowMomentary
                        description: null
                        recent_fleet_count: 408452
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        timestamp:
                          type: integer
                        name:
                          type: string
                        description:
                          type: string
                          nullable: true
                        recent_fleet_count:
                          type: integer
              examples:
                Example 1:
                  value:
                    results:
                      - timestamp: 1726683716
                        name: VCFRONT_a361_washerFluidLowMomentary
                        description: null
                        recent_fleet_count: 123456
          description: Success
      operationId: get-firmware-alerts
      summary: Get Firmware Alerts
      description: Returns the list of firmware alerts generated by a vehicle.
      tags:
        - Vehicle Data
      x-stoplight:
        id: 2u4lvpn1xsx77
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/map':
    get:
      parameters:
        - schema:
            type: integer
            default: 300
          in: query
          name: width
          description: The map's width.
        - schema:
            type: integer
            default: 300
          in: query
          name: height
          description: The map's height.
        - schema:
            type: integer
            default: 13
          in: query
          name: zoom
          description: The map's zoom level.
        - schema:
            type: integer
            default: 75
          in: query
          name: marker_size
          description: The size of the vehicle marker. Set to 0 to hide the marker.
        - schema:
            type: string
            enum:
              - light
              - dark
            default: light
          in: query
          name: style
          description: The map's style.
      responses:
        '200':
          content:
            image/png:
              schema:
                type: object
                properties: {}
          description: Success
          headers:
            Content-Type:
              schema:
                type: string
              description: image/png
      operationId: get-map
      summary: Get Map
      description: Returns a map image of a vehicle's location.
      tags:
        - Vehicle Data
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/consumption_since_charge':
    get:
      parameters:
        - $ref: '#/components/parameters/vin'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  last_charge_at:
                    type: integer
                  distance_driven:
                    type: number
                  battery_percent_used:
                    type: integer
                  battery_percent_used_by_driving:
                    type: integer
                  rated_range_used:
                    type: number
                  rated_range_used_by_driving:
                    type: number
                  ideal_range_used:
                    type: number
                  ideal_range_used_by_driving:
                    type: number
                  energy_used:
                    type: number
                  energy_used_by_driving:
                    type: number
                x-examples:
                  Example 1:
                    last_charge_at: 1675940795
                    distance_driven: 10.4
                    battery_percent_used: 10
                    battery_percent_used_by_driving: 4
                    rated_range_used: 34.57
                    rated_range_used_by_driving: 16.75
                    ideal_range_used: 34.57
                    ideal_range_used_by_driving: 16.75
                    energy_used: 7.56
                    energy_used_by_driving: 3.66
              examples:
                Example 1:
                  value:
                    last_charge_at: 1675940795
                    distance_driven: 10.4
                    battery_percent_used: 10
                    battery_percent_used_by_driving: 4
                    rated_range_used: 34.57
                    rated_range_used_by_driving: 16.75
                    ideal_range_used: 34.57
                    ideal_range_used_by_driving: 16.75
                    energy_used: 7.56
                    energy_used_by_driving: 3.66
          description: Success
      operationId: get-consumption
      summary: Get Consumption
      description: Returns consumption data since a vehicle was last charged.
      tags:
        - Vehicle Data
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/weather':
    get:
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  location:
                    type: string
                  condition:
                    type: string
                  temperature:
                    type: number
                  feels_like:
                    type: number
                  humidity:
                    type: integer
                  visibility:
                    type: integer
                  pressure:
                    type: integer
                  sunrise:
                    type: integer
                  sunset:
                    type: integer
                  cloudiness:
                    type: integer
                  wind_speed:
                    type: number
                  wind_direction:
                    type: integer
              examples:
                Example 1:
                  value:
                    location: Fremont
                    condition: Clear
                    temperature: 22.77
                    feels_like: 21.26
                    humidity: 91
                    visibility: 10000
                    pressure: 1017
                    sunrise: 1672757473
                    sunset: 1672793687
                    cloudiness: 25
                    wind_speed: 8.23
                    wind_direction: 160
          description: Success
      operationId: get-weather
      summary: Get Weather
      description: Returns the weather forecast around a vehicle.
      tags:
        - Vehicle Data
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/drives':
    get:
      parameters:
        - $ref: '#/components/parameters/distance_format'
        - $ref: '#/components/parameters/temperature_format'
        - $ref: '#/components/parameters/from'
        - $ref: '#/components/parameters/to'
        - $ref: '#/components/parameters/timezone'
        - schema:
            type: number
            example: 37.4925
          in: query
          name: origin_latitude
          description: The latitude of the starting point.
        - schema:
            type: number
            example: 121.9447
          in: query
          name: origin_longitude
          description: The longitude of the starting point.
        - schema:
            type: number
            example: 80
          in: query
          name: origin_radius
          description: 'The radius from the starting point, in meters.'
        - schema:
            type: boolean
            default: false
          in: query
          name: exclude_origin
          description: Whether to exclude the starting point.
        - schema:
            type: number
            example: 37.4925
          in: query
          name: destination_latitude
          description: The latitude of the ending point.
        - schema:
            type: number
            example: 121.9447
          in: query
          name: destination_longitude
          description: The longitude of the ending point.
        - schema:
            type: number
            example: 80
          in: query
          name: destination_radius
          description: 'The included radius from the ending point, in meters.'
        - schema:
            type: boolean
            default: false
          in: query
          name: exclude_destination
          description: Whether to exclude the ending point.
        - schema:
            type: string
            example: Work
          in: query
          name: tag
          description: The tag associated with the drive.
        - schema:
            type: boolean
            default: false
          in: query
          name: exclude_tag
          description: Whether to exclude the tag.
        - schema:
            type: string
            example: John
          in: query
          name: driver_profile
          description: The driver profile associated with the drive.
        - schema:
            type: boolean
            default: false
          in: query
          name: exclude_driver_profile
          description: Whether to exclude the driver profile.
        - $ref: '#/components/parameters/format'
        - schema:
            type: number
            example: 0.1
          in: query
          name: minimum_distance
          description: 'The minimum distance driven, in miles.'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Drive'
              examples:
                Example 1:
                  value:
                    results:
                      - id: 1363162
                        started_at: 1628960959
                        ended_at: 1628970656
                        starting_location: '8055 Dean Martin Drive, Las Vegas, Nevada 89139, United States'
                        starting_latitude: 36.042928
                        starting_longitude: -115.187801
                        ending_location: 'Cataba Road, Hesperia, California 92344, United States'
                        ending_latitude: 34.42468
                        ending_longitude: -117.385746
                        starting_battery: 97
                        ending_battery: 21
                        average_inside_temperature: 20.23
                        average_outside_temperature: 34.94
                        average_speed: 73
                        max_speed: 90
                        rated_range_used: 230.45
                        odometer_distance: 185.9
                        autopilot_distance: 174.6
                        energy_used: 73.28
                        tag: Personal
          description: Success
      operationId: get-drives
      summary: Get Drives
      description: Returns the drives for a vehicle.
      tags:
        - Vehicle Data
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/path':
    parameters:
      - $ref: '#/components/parameters/vin'
    get:
      parameters:
        - $ref: '#/components/parameters/from'
        - $ref: '#/components/parameters/to'
        - schema:
            type: boolean
            default: false
          in: query
          name: separate
          description: Whether the path should be separated by individual drives.
        - schema:
            type: boolean
            default: true
          in: query
          name: simplify
          description: Whether the path should be simplified to reduce the number of points.
        - schema:
            type: boolean
            default: false
          in: query
          name: details
          description: 'Whether the path should include details like timestamps, speeds and headings.'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items: {}
              examples:
                Example (With Details):
                  value:
                    results:
                      - timestamp: 1728191237
                        latitude: 40.73061
                        longitude: -73.935242
                        heading: 116
                        battery_level: 79
                        speed: 18
                        odometer: 1234.56
                        autopilot: Standby
                      - timestamp: 1728191268
                        latitude: 40.73061
                        longitude: -73.935242
                        heading: 109
                        battery_level: 79
                        speed: 10
                        odometer: 1235.67
                        autopilot: Standby
                      - timestamp: 1728191299
                        latitude: 40.73061
                        longitude: -73.935242
                        heading: 118
                        battery_level: 78
                        speed: 5
                        odometer: 1236.78
                        autopilot: 'Off'
                Example 1:
                  value:
                    results:
                      - '40.730610,-73.935242'
                      - '40.731610,-73.936242'
                      - '40.732610,-73.937242'
          description: Success
      operationId: get-driving-path
      summary: Get Driving Path
      description: |-
        Returns the driving path of a vehicle during a given timeframe.

        If no timeframe is specified, returns the driving path for the last 30 days.
      tags:
        - Vehicle Data
  '/{vin}/drives/set_tag':
    parameters:
      - $ref: '#/components/parameters/vin'
    post:
      summary: Set Drive Tag
      operationId: set-drive-tag
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  result:
                    type: boolean
                required:
                  - result
              examples:
                Example 1:
                  value:
                    result: true
      description: Sets the tag for a list of drives.
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                drives:
                  type: string
                  description: A list of drive IDs.
                  example: '10000,10001,10002'
                tag:
                  type: string
                  description: The tag to apply to the drives.
              required:
                - drives
            examples:
              Example 1:
                value:
                  drives: '10000,10001,10002'
                  tag: Business
        description: ''
      tags:
        - Vehicle Data
  '/{vin}/charges':
    get:
      parameters:
        - $ref: '#/components/parameters/distance_format'
        - $ref: '#/components/parameters/format'
        - schema:
            type: boolean
            default: false
          in: query
          name: superchargers_only
          description: Whether to only include charges from Superchargers.
        - schema:
            type: number
            example: 37.4925
          in: query
          name: origin_latitude
          description: The latitude of the charging station.
        - schema:
            type: number
            example: 121.9447
          in: query
          name: origin_longitude
          description: The longitude of the charging station.
        - schema:
            type: number
            example: 80
          in: query
          name: origin_radius
          description: 'The radius from the charging station, in meters.'
        - schema:
            type: boolean
            default: false
          in: query
          name: exclude_origin
          description: Whether to exclude the charging station.
        - $ref: '#/components/parameters/timezone'
        - $ref: '#/components/parameters/from'
        - $ref: '#/components/parameters/to'
        - schema:
            type: number
            example: 1
          in: query
          name: minimum_energy_added
          description: 'The minimum energy added to the battery, in kWh.'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Charge'
              examples:
                Example 1:
                  value:
                    results:
                      - id: 434159
                        started_at: 1628906796
                        ended_at: 1628911246
                        location: 'South Las Vegas Boulevard, Las Vegas, Nevada 89119, United States'
                        latitude: 36.070656
                        longitude: -115.172968
                        is_supercharger: true
                        odometer: 12345.67
                        energy_added: 81.41
                        energy_used: 81.5
                        miles_added: 256
                        miles_added_ideal: 512
                        starting_battery: 11
                        ending_battery: 96
                        cost: 0
          description: Success
      operationId: get-charges
      summary: Get Charges
      description: Returns the charges for a vehicle.
      tags:
        - Vehicle Data
    parameters:
      - $ref: '#/components/parameters/vin'
  /charging_invoices:
    parameters: []
    get:
      parameters:
        - $ref: '#/components/parameters/timezone'
        - $ref: '#/components/parameters/from'
        - $ref: '#/components/parameters/to'
        - schema:
            type: string
            example: 7SA3ASD6XPF123456
          in: query
          name: vin
          description: The associated VIN.
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        started_at:
                          type: integer
                        ended_at:
                          type: integer
                        invoice_number:
                          type: string
                        vin:
                          type: string
                        location:
                          type: string
                        energy_used:
                          type: integer
                        idle_minutes:
                          type: integer
                        charging_fees:
                          type: number
                        idle_fees:
                          type: integer
                        total_cost:
                          type: number
                        cost_per_kwh:
                          type: number
                        currency:
                          type: string
                        invoice_url:
                          type: string
                x-examples:
                  Example 1:
                    results:
                      - id: 242345313
                        started_at: 1699829921
                        ended_at: 1699833374
                        invoice_number: 3000P0085545388
                        vin: 7SA3CBE6XPF123456
                        location: 'Yuma, AZ - South Fortuna Road'
                        energy_used: 70
                        idle_minutes: 0
                        charging_fees: 24.5
                        idle_fees: 0
                        total_cost: 24.5
                        cost_per_kwh: 0.35
                        currency: USD
                        invoice_url: 'https://tesla.com/teslaaccount/charging/invoice/f4d990ab-f32f-4965-8f61-6e7603714a41'
                      - id: 242281757
                        started_at: 1699818910
                        ended_at: 1699821672
                        invoice_number: 3000P0085503265
                        vin: 7SA3CBE6XPF123456
                        location: 'Tempe, AZ'
                        energy_used: 72
                        idle_minutes: 0
                        charging_fees: 18.72
                        idle_fees: 0
                        total_cost: 18.72
                        cost_per_kwh: 0.26
                        currency: USD
                        invoice_url: 'https://tesla.com/teslaaccount/charging/invoice/ae422c93-7e86-43d3-a24f-58f0604a1b06'
              examples:
                Example 1:
                  value:
                    results:
                      - id: 242345313
                        started_at: 1699829921
                        ended_at: 1699833374
                        invoice_number: 3000P0085545388
                        vin: 7SA3CBE6XPF123456
                        location: 'Yuma, AZ - South Fortuna Road'
                        energy_used: 70
                        idle_minutes: 0
                        charging_fees: 24.5
                        idle_fees: 0
                        total_cost: 24.5
                        cost_per_kwh: 0.35
                        currency: USD
                        invoice_url: 'https://tesla.com/teslaaccount/charging/invoice/f4d990ab-f32f-4965-8f61-6e7603714a41'
                      - id: 242281757
                        started_at: 1699818910
                        ended_at: 1699821672
                        invoice_number: 3000P0085503265
                        vin: 7SA3CBE6XPF123456
                        location: 'Tempe, AZ'
                        energy_used: 72
                        idle_minutes: 0
                        charging_fees: 18.72
                        idle_fees: 0
                        total_cost: 18.72
                        cost_per_kwh: 0.26
                        currency: USD
                        invoice_url: 'https://tesla.com/teslaaccount/charging/invoice/ae422c93-7e86-43d3-a24f-58f0604a1b06'
          description: Success
      operationId: get-fleet-charging-invoices
      summary: Get All Charging Invoices
      description: |-
        Returns charging invoices for all vehicles.

        For fleet accounts only.
      x-stoplight:
        id: z3meyszeri7c6
      tags:
        - Vehicle Data
  '/{vin}/charges/{id}/set_cost':
    post:
      parameters:
        - schema:
            type: number
          in: query
          name: cost
          description: The cost of the charge. Leave empty to remove the cost.
      x-stoplight:
        id: jpj9prqb0zxr2
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  result:
                    type: boolean
              examples:
                Example 1:
                  value:
                    result: true
          description: Success
      operationId: set-charge-cost
      summary: Set Charge Cost
      description: Sets the cost of a charge.
      tags:
        - Vehicle Data
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-examples:
                Example 1:
                  cost: 0.67
              properties:
                cost:
                  type: number
                  nullable: true
    parameters:
      - $ref: '#/components/parameters/vin'
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: The ID of the charge.
  '/{vin}/idles':
    get:
      parameters:
        - $ref: '#/components/parameters/distance_format'
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/timezone'
        - $ref: '#/components/parameters/from'
        - $ref: '#/components/parameters/to'
        - schema:
            type: number
            example: 37.4925
          in: query
          name: origin_latitude
          description: The latitude of the parking spot.
        - schema:
            type: number
            example: 121.9447
          in: query
          name: origin_longitude
          description: The longitude of the parking spot.
        - schema:
            type: number
            example: 80
          in: query
          name: origin_radius
          description: 'The radius from the parking spot, in meters.'
        - schema:
            type: boolean
            default: false
          in: query
          name: exclude_origin
          description: Whether to include the parking spot.
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Idle'
              examples:
                Example 1:
                  value:
                    results:
                      - id: 1393231
                        started_at: 1626454383
                        ended_at: 1626461947
                        location: '8055 Dean Martin Drive, Las Vegas, Nevada 89139, United States'
                        latitude: 36.042928
                        longitude: -115.187801
                        starting_battery: 66
                        ending_battery: 63
                        rated_range_used: 8.29
                        climate_fraction: 1
                        sentry_fraction: 0
                        energy_used: 2.64
          description: Success
      operationId: get-idles
      summary: Get Idles
      description: |-
        Returns the idles for a vehicle.

        A vehicle is considered idle if not driving or charging.
      tags:
        - Vehicle Data
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/last_idle_state':
    get:
      parameters:
        - $ref: '#/components/parameters/vin'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      timestamp:
                        type: integer
                      battery_level:
                        type: integer
                      usable_battery_level:
                        type: integer
                      battery_range:
                        type: number
                      est_battery_range:
                        type: number
                      ideal_battery_range:
                        type: integer
                x-examples:
                  Example 1:
                    result:
                      timestamp: 1675173627
                      battery_level: 68
                      usable_battery_level: 68
                      battery_range: 204.96
                      est_battery_range: 165.47
                      ideal_battery_range: 999
              examples:
                Example 1:
                  value:
                    result:
                      timestamp: 1675173627
                      battery_level: 68
                      usable_battery_level: 68
                      battery_range: 204.96
                      est_battery_range: 165.47
                      ideal_battery_range: 999
          description: Success
      operationId: get-last-idle-state
      summary: Get Last Idle State
      description: Returns data associated with when a vehicle last stopped driving or charging.
      tags:
        - Vehicle Data
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/tire_pressure':
    get:
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  front_left:
                    type: number
                  front_right:
                    type: number
                  rear_left:
                    type: number
                  rear_right:
                    type: number
                  front_left_status:
                    type: string
                    enum:
                      - unknown
                      - low
                      - normal
                  front_right_status:
                    type: string
                    enum:
                      - unknown
                      - low
                      - normal
                  rear_left_status:
                    type: string
                    enum:
                      - unknown
                      - low
                      - normal
                  rear_right_status:
                    type: string
                    enum:
                      - unknown
                      - low
                      - normal
                  timestamp:
                    type: integer
              examples:
                Example 1:
                  value:
                    front_left: 2.275
                    front_right: 2.325
                    rear_left: 2.4
                    rear_right: 2.425
                    front_left_status: low
                    front_right_status: low
                    rear_left_status: low
                    rear_right_status: low
                    timestamp: 1645131216
          description: Success
      operationId: get-tire-pressure
      summary: Get Tire Pressure
      description: |-
        Returns the tire pressure of a vehicle, measured in bar.

        Requires firmware 2022.4.5+.
      tags:
        - Vehicle Data
    parameters:
      - $ref: '#/components/parameters/vin'
      - schema:
          type: string
          enum:
            - bar
            - kpa
            - psi
          example: psi
          default: bar
        in: query
        name: pressure_format
        description: The pressure unit.
      - $ref: '#/components/parameters/from'
      - $ref: '#/components/parameters/to'
  '/{vin}/status':
    get:
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - asleep
                      - waiting_for_sleep
                      - awake
                    example: asleep
              examples:
                Example 1:
                  value:
                    status: asleep
          description: Success
      operationId: get-status
      summary: Get Status
      description: |-
        Returns the status of a vehicle.

        The status may be `asleep`, `waiting_for_sleep` or `awake`.
      tags:
        - Vehicle Data
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/wake':
    post:
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: boolean
              examples:
                Example 1:
                  value:
                    result: true
          description: Success
      x-stoplight:
        id: aed77c8f049b3
      operationId: wake
      summary: Wake
      description: |-
        Wakes the vehicle from sleep.

        Returns true after the vehicle is awake, or false after a 90 second timeout.
      tags:
        - Vehicle Commands
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/command/lock':
    post:
      parameters:
        - $ref: '#/components/parameters/wait_for_completion'
        - $ref: '#/components/parameters/max_attempts'
      responses:
        '200':
          $ref: '#/components/responses/commandResponse'
      operationId: lock
      summary: Lock
      description: Locks the vehicle.
      tags:
        - Vehicle Commands
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/command/unlock':
    post:
      parameters:
        - $ref: '#/components/parameters/wait_for_completion'
        - $ref: '#/components/parameters/max_attempts'
      responses:
        '200':
          $ref: '#/components/responses/commandResponse'
      operationId: unlock
      summary: Unlock
      description: Unlocks the vehicle.
      tags:
        - Vehicle Commands
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/command/activate_front_trunk':
    post:
      parameters:
        - $ref: '#/components/parameters/wait_for_completion'
        - $ref: '#/components/parameters/max_attempts'
      responses:
        '200':
          $ref: '#/components/responses/commandResponse'
      operationId: activate-front-trunk
      summary: Front Trunk
      description: Opens the front trunk.
      tags:
        - Vehicle Commands
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/command/activate_rear_trunk':
    post:
      parameters:
        - $ref: '#/components/parameters/wait_for_completion'
        - $ref: '#/components/parameters/max_attempts'
      responses:
        '200':
          $ref: '#/components/responses/commandResponse'
      operationId: activate-rear-trunk
      summary: Rear Trunk
      description: 'Opens the rear trunk, or closes it if the trunk is open and the vehicle has a powered trunk.'
      tags:
        - Vehicle Commands
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/command/open_tonneau':
    post:
      parameters:
        - $ref: '#/components/parameters/wait_for_completion'
        - $ref: '#/components/parameters/max_attempts'
      responses:
        '200':
          $ref: '#/components/responses/commandResponse'
      operationId: open-tonneau
      summary: Open Tonneau
      description: Opens the tonneau.
      tags:
        - Vehicle Commands
      x-stoplight:
        id: puwufv4vw40uz
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/command/close_tonneau':
    post:
      parameters:
        - $ref: '#/components/parameters/wait_for_completion'
        - $ref: '#/components/parameters/max_attempts'
      responses:
        '200':
          $ref: '#/components/responses/commandResponse'
      operationId: close-tonneau
      summary: Close Tonneau
      description: Closes the tonneau.
      tags:
        - Vehicle Commands
      x-stoplight:
        id: qf2po6fmsi0x7
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/command/vent_windows':
    post:
      parameters:
        - $ref: '#/components/parameters/wait_for_completion'
        - $ref: '#/components/parameters/max_attempts'
      responses:
        '200':
          $ref: '#/components/responses/commandResponse'
      operationId: vent-windows
      summary: Vent Windows
      description: Vents all windows.
      tags:
        - Vehicle Commands
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/command/close_windows':
    post:
      parameters:
        - $ref: '#/components/parameters/wait_for_completion'
        - $ref: '#/components/parameters/max_attempts'
      responses:
        '200':
          $ref: '#/components/responses/commandResponse'
      operationId: close-windows
      summary: Close Windows
      description: 'Closes all windows, if the vehicle supports it.'
      tags:
        - Vehicle Commands
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/command/start_climate':
    post:
      parameters:
        - $ref: '#/components/parameters/wait_for_completion'
        - $ref: '#/components/parameters/max_attempts'
      responses:
        '200':
          $ref: '#/components/responses/commandResponse'
      operationId: start-climate
      summary: Start Climate
      description: Starts the climate system and preconditions the battery.
      tags:
        - Vehicle Commands
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/command/stop_climate':
    post:
      parameters:
        - $ref: '#/components/parameters/wait_for_completion'
        - $ref: '#/components/parameters/max_attempts'
      responses:
        '200':
          $ref: '#/components/responses/commandResponse'
      operationId: stop-climate
      summary: Stop Climate
      description: Stops the climate system.
      tags:
        - Vehicle Commands
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/command/set_temperatures':
    post:
      parameters:
        - $ref: '#/components/parameters/wait_for_completion'
        - $ref: '#/components/parameters/max_attempts'
        - name: temperature
          description: The temperature in Celsius.
          schema:
            maximum: 28
            minimum: 15
            type: number
            example: 23
          in: query
          required: true
      responses:
        '200':
          $ref: '#/components/responses/commandResponse'
      operationId: set-temperatures
      summary: Set Temperature
      description: Sets the cabin temperature.
      tags:
        - Vehicle Commands
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/command/set_seat_heat':
    post:
      parameters:
        - $ref: '#/components/parameters/wait_for_completion'
        - $ref: '#/components/parameters/max_attempts'
        - $ref: '#/components/parameters/seat'
        - name: level
          description: The heating level. Set to 0 to turn off.
          schema:
            default: 3
            type: number
          in: query
      responses:
        '200':
          $ref: '#/components/responses/commandResponse'
      operationId: set-seat-heating
      summary: Set Seat Heating
      description: Sets the seat heating level.
      tags:
        - Vehicle Commands
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/command/set_seat_cool':
    post:
      parameters:
        - $ref: '#/components/parameters/wait_for_completion'
        - $ref: '#/components/parameters/max_attempts'
        - $ref: '#/components/parameters/seat'
        - name: level
          description: The cooling level. Set to 0 to turn off.
          schema:
            default: 3
            type: number
          in: query
      responses:
        '200':
          $ref: '#/components/responses/commandResponse'
      operationId: set-seat-cooling
      summary: Set Seat Cooling
      description: Sets the seat cooling level.
      x-stoplight:
        id: ohr6c2oq2aqw4
      tags:
        - Vehicle Commands
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/command/start_max_defrost':
    post:
      parameters:
        - $ref: '#/components/parameters/wait_for_completion'
        - $ref: '#/components/parameters/max_attempts'
      responses:
        '200':
          $ref: '#/components/responses/commandResponse'
      operationId: start-max-defrost
      summary: Start Defrost
      description: Starts defrosting.
      tags:
        - Vehicle Commands
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/command/stop_max_defrost':
    post:
      parameters:
        - $ref: '#/components/parameters/wait_for_completion'
        - $ref: '#/components/parameters/max_attempts'
      responses:
        '200':
          $ref: '#/components/responses/commandResponse'
      operationId: stop-max-defrost
      summary: Stop Defrost
      description: Stops defrosting.
      tags:
        - Vehicle Commands
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/command/start_steering_wheel_heater':
    post:
      parameters:
        - $ref: '#/components/parameters/wait_for_completion'
        - $ref: '#/components/parameters/max_attempts'
      responses:
        '200':
          $ref: '#/components/responses/commandResponse'
      operationId: start-steering-wheel-heater
      summary: Start Steering Wheel Heater
      description: Starts the steering wheel heater.
      tags:
        - Vehicle Commands
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/command/stop_steering_wheel_heater':
    post:
      parameters:
        - $ref: '#/components/parameters/wait_for_completion'
        - $ref: '#/components/parameters/max_attempts'
      responses:
        '200':
          $ref: '#/components/responses/commandResponse'
      operationId: stop-steering-wheel-heater
      summary: Stop Steering Wheel Heater
      description: Stops the steering wheel heater.
      tags:
        - Vehicle Commands
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/command/set_cabin_overheat_protection':
    post:
      parameters:
        - $ref: '#/components/parameters/wait_for_completion'
        - $ref: '#/components/parameters/max_attempts'
        - schema:
            type: boolean
          in: query
          name: 'on'
          description: Whether the feature should be on or off.
        - schema:
            type: boolean
          in: query
          name: fan_only
          description: Whether to use only the fan for cooling.
      responses:
        '200':
          $ref: '#/components/responses/commandResponse'
      operationId: set-cabin-overheat-protection
      summary: Set Cabin Overheat Protection
      description: Sets the Cabin Overheat Protection mode.
      tags:
        - Vehicle Commands
      x-stoplight:
        id: yucvgvn4fif8c
    parameters:
      - name: vin
        description: The associated VIN.
        schema:
          type: string
        in: path
        required: true
        deprecated: false
        x-last-modified: 1643747623235
        example: 5YJXCAE43LF123456
  '/{vin}/command/set_cop_temp':
    post:
      parameters:
        - $ref: '#/components/parameters/wait_for_completion'
        - $ref: '#/components/parameters/max_attempts'
        - schema:
            type: integer
          in: query
          name: cop_temp
          description: 'The activation temperature (1 = low, 2 = medium, 3 = high).'
      responses:
        '200':
          $ref: '#/components/responses/commandResponse'
      operationId: set-cabin-overheat-protection-temp
      summary: Set Cabin Overheat Protection Temp
      description: Sets the Cabin Overheat Protection activation temperature.
      tags:
        - Vehicle Commands
      x-stoplight:
        id: 3ahe0anagjch2
    parameters:
      - name: vin
        description: The associated VIN.
        schema:
          type: string
        in: path
        required: true
        deprecated: false
        x-last-modified: 1643747623235
        example: 5YJXCAE43LF123456
  '/{vin}/command/set_bioweapon_mode':
    post:
      parameters:
        - $ref: '#/components/parameters/wait_for_completion'
        - $ref: '#/components/parameters/max_attempts'
        - name: 'on'
          description: Whether to enable Bioweapon Defense Mode.
          schema:
            type: boolean
            example: true
          in: query
          required: true
      responses:
        '200':
          $ref: '#/components/responses/commandResponse'
      operationId: set-bioweapon-mode
      summary: Set Bio Defense Mode
      description: Sets Bioweapon Defense Mode.
      tags:
        - Vehicle Commands
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/command/set_climate_keeper_mode':
    post:
      parameters:
        - $ref: '#/components/parameters/wait_for_completion'
        - $ref: '#/components/parameters/max_attempts'
        - name: mode
          description: 'The Climate Keeper mode. Use 1 for Keep Mode, 2 for Dog Mode, 3 for Camp Mode, 0 to disable.'
          schema:
            type: integer
            example: 2
          in: query
          required: true
      responses:
        '200':
          $ref: '#/components/responses/commandResponse'
      operationId: set-climate-keeper-mode
      summary: Set Climate Keeper Mode
      description: Sets the Climate Keeper mode.
      tags:
        - Vehicle Commands
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/command/start_charging':
    post:
      parameters:
        - $ref: '#/components/parameters/wait_for_completion'
        - $ref: '#/components/parameters/max_attempts'
      responses:
        '200':
          $ref: '#/components/responses/commandResponse'
      operationId: start-charging
      summary: Start Charging
      description: Starts charging.
      tags:
        - Vehicle Commands
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/command/stop_charging':
    post:
      parameters:
        - $ref: '#/components/parameters/wait_for_completion'
        - $ref: '#/components/parameters/max_attempts'
      responses:
        '200':
          $ref: '#/components/responses/commandResponse'
      operationId: stop-charging
      summary: Stop Charging
      description: Stops charging.
      tags:
        - Vehicle Commands
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/command/set_charge_limit':
    post:
      parameters:
        - $ref: '#/components/parameters/wait_for_completion'
        - $ref: '#/components/parameters/max_attempts'
        - name: percent
          description: The battery percentage to charge to.
          schema:
            type: number
            example: 100
          in: query
          required: true
      responses:
        '200':
          $ref: '#/components/responses/commandResponse'
      operationId: set-charge-limit
      summary: Set Charge Limit
      description: Sets the charge limit.
      tags:
        - Vehicle Commands
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/command/set_charging_amps':
    post:
      parameters:
        - $ref: '#/components/parameters/wait_for_completion'
        - $ref: '#/components/parameters/max_attempts'
        - name: amps
          description: The number of amps.
          schema:
            type: number
            example: 8
          in: query
          required: true
      responses:
        '200':
          $ref: '#/components/responses/commandResponse'
      operationId: set-charging-amps
      summary: Set Charging Amps
      description: Sets the charging amps.
      tags:
        - Vehicle Commands
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/command/open_charge_port':
    post:
      parameters:
        - $ref: '#/components/parameters/wait_for_completion'
        - $ref: '#/components/parameters/max_attempts'
      responses:
        '200':
          $ref: '#/components/responses/commandResponse'
      operationId: open-charge-port
      summary: Open Charge Port
      description: 'Opens the charge port if it''s closed, or unlocks it if it''s open.'
      tags:
        - Vehicle Commands
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/command/close_charge_port':
    post:
      parameters:
        - $ref: '#/components/parameters/wait_for_completion'
        - $ref: '#/components/parameters/max_attempts'
      responses:
        '200':
          $ref: '#/components/responses/commandResponse'
      operationId: close-charge-port
      summary: Close Charge Port
      description: Closes the charge port.
      tags:
        - Vehicle Commands
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/command/flash':
    post:
      parameters:
        - $ref: '#/components/parameters/wait_for_completion'
        - $ref: '#/components/parameters/max_attempts'
      responses:
        '200':
          $ref: '#/components/responses/commandResponse'
      operationId: flash
      summary: Flash Lights
      description: Flashes the lights.
      tags:
        - Vehicle Commands
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/command/honk':
    post:
      parameters:
        - $ref: '#/components/parameters/wait_for_completion'
        - $ref: '#/components/parameters/max_attempts'
      responses:
        '200':
          $ref: '#/components/responses/commandResponse'
      operationId: honk
      summary: Honk
      description: Honks the horn.
      tags:
        - Vehicle Commands
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/command/trigger_homelink':
    post:
      parameters:
        - $ref: '#/components/parameters/wait_for_completion'
        - $ref: '#/components/parameters/max_attempts'
      responses:
        '200':
          $ref: '#/components/responses/commandResponse'
      operationId: trigger-homelink
      summary: Trigger HomeLink
      description: Triggers the primary HomeLink device.
      tags:
        - Vehicle Commands
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/command/remote_start':
    post:
      parameters:
        - $ref: '#/components/parameters/wait_for_completion'
        - $ref: '#/components/parameters/max_attempts'
      responses:
        '200':
          $ref: '#/components/responses/commandResponse'
      operationId: remote-start
      summary: Enable Keyless Driving
      description: |-
        Enables keyless driving.

        Driving must begin within 2 minutes.
      tags:
        - Vehicle Commands
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/command/vent_sunroof':
    post:
      parameters:
        - $ref: '#/components/parameters/wait_for_completion'
        - $ref: '#/components/parameters/max_attempts'
      responses:
        '200':
          $ref: '#/components/responses/commandResponse'
      operationId: vent-sunroof
      summary: Vent Sunroof
      description: Vents the sunroof.
      tags:
        - Vehicle Commands
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/command/close_sunroof':
    post:
      parameters:
        - $ref: '#/components/parameters/wait_for_completion'
        - $ref: '#/components/parameters/max_attempts'
      responses:
        '200':
          $ref: '#/components/responses/commandResponse'
      operationId: close-sunroof
      summary: Close Sunroof
      description: Closes the sunroof.
      tags:
        - Vehicle Commands
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/command/enable_sentry':
    post:
      parameters:
        - $ref: '#/components/parameters/wait_for_completion'
        - $ref: '#/components/parameters/max_attempts'
      responses:
        '200':
          $ref: '#/components/responses/commandResponse'
      operationId: enable-sentry
      summary: Enable Sentry Mode
      description: Enables Sentry Mode.
      tags:
        - Vehicle Commands
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/command/disable_sentry':
    post:
      parameters:
        - $ref: '#/components/parameters/wait_for_completion'
        - $ref: '#/components/parameters/max_attempts'
      responses:
        '200':
          $ref: '#/components/responses/commandResponse'
      operationId: disable-sentry
      summary: Disable Sentry Mode
      description: Disables Sentry Mode.
      tags:
        - Vehicle Commands
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/command/enable_valet':
    post:
      parameters:
        - $ref: '#/components/parameters/wait_for_completion'
        - $ref: '#/components/parameters/max_attempts'
      responses:
        '200':
          $ref: '#/components/responses/commandResponse'
      operationId: enable-valet
      summary: Enable Valet Mode
      description: Enables Valet Mode.
      tags:
        - Vehicle Commands
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/command/disable_valet':
    post:
      parameters:
        - $ref: '#/components/parameters/wait_for_completion'
        - $ref: '#/components/parameters/max_attempts'
      responses:
        '200':
          $ref: '#/components/responses/commandResponse'
      operationId: disable-valet
      summary: Disable Valet Mode
      description: Disables Valet Mode.
      tags:
        - Vehicle Commands
    parameters:
      - $ref: '#/components/parameters/vin'
  '/{vin}/command/enable_low_power_mode':
    post:
      parameters:
        - $ref: '#/components/parameters/wait_for_completion'
        - $ref: '#/components/parameters/max_attempts'
      responses:
        '200':
          $ref: '#/components/responses/commandResponse'
      operationId: enable-low-power
      summary: Enable Low Power Mode
      description: Enables Low Power Mode.
      tags:
        - Vehicle Commands
      x-stoplight:
        id: ofmqrfh4poqwo
    parameters:
      - name: vin
        description: The associated VIN.
        schema:
          type: string
        in: path
        required: true
        deprecated: false
        x-last-modified: 1643747623235
        example: 5YJXCAE43LF123456
  '/{vin}/command/disable_low_power_mode':
    post:
      parameters:
        - $ref: '#/components/parameters/wait_for_completion'
        - $ref: '#/components/parameters/max_attempts'
      responses:
        '200':
          $ref: '#/components/responses/commandResponse'
      operationId: disable-low-power
      summary: Disable Low Power Mode
      description: Disables Low Power Mode.
      tags:
        - Vehicle Commands
      x-stoplight:
        id: ofmqrfh4poqwo
    parameters:
      - name: vin
        description: The associated VIN.
        schema:
          type: string
        in: path
        required: true
        deprecated: false
        x-last-modified: 1643747623235
        example: 5YJXCAE43LF123456
  '/{vin}/command/enable_keep_accessory_power_mode':
    post:
      parameters:
        - $ref: '#/components/parameters/wait_for_completion'
        - $ref: '#/components/parameters/max_attempts'
      responses:
        '200':
          $ref: '#/components/responses/commandResponse'
      operationId: enable-keep-accessory-power
      summary: Enable Keep Accessory Power Mode
      description: Enables Keep Accessory Power Mode.
      tags:
        - Vehicle Commands
      x-stoplight:
        id: ofmqrfh4poqwo
    parameters:
      - name: vin
        description: The associated VIN.
        schema:
          type: string
        in: path
        required: true
        deprecated: false
        x-last-modified: 1643747623235
        example: 5YJXCAE43LF123456
  '/{vin}/command/disable_keep_accessory_power_mode':
    post:
      parameters:
        - $ref: '#/components/parameters/wait_for_completion'
        - $ref: '#/components/parameters/max_attempts'
      responses:
        '200':
          $ref: '#/components/responses/commandResponse'
      operationId: disable-keep-accessory-power
      summary: Disable Keep Accessory Power Mode
      description: Disables Keep Accessory Power Mode.
      tags:
        - Vehicle Commands
      x-stoplight:
        id: ofmqrfh4poqwo
    parameters:
[...]
